[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
